/node_modules
/build
/public/build
/public/hot
/public/storage
/uploads
/public/uploads
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.*
!.env.example
*.bak
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
futurebd.zip
*.zip
*.rar
*.tar.gz
*.tar
*.tgz
*.7z